[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pandas = "*"
requests = "*"
python-decouple = "*"
recordlinkage = "*"
djangorestframework = "*"
neomodel = "*"
django-neomodel = "*"
pulsar-client = "==3.3.0"
avro = "*"
neo4j = "*"
drf-yasg = {extras = ["validation"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
